<template>
	<div>
		<div class="flex">
			<div class="text">
				<div>地址：杭州市西湖区龙申综合发展中心5幢906室</div>
				<div>邮箱：wodeschool@myschool.me</div>
				<div>电话：0571-28277466</div>
			</div>
			<img src="../assets/code.jpg" class="code" />
		</div>
		<div class="clear"></div>
		<el-divider></el-divider>
		<div>
			<img src="../assets/beian.png" class="beianlogo"/>
			<span class="beian">浙公网安备33010602009296号</span>
			<span class="banquan">浙ICP备18021476号-1 ©2018-现在 杭州正坛科技有限公司 版权所有</span>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Footer"
	}
</script>

<style>
	.code {
		width: 100px;
		float: right;
	}

	.flex {
		padding: 30px;
	}

	.text {
		float: left;
		text-align: left;
		padding: 10px;
	}

	.text div {
		line-height: 30px;
	}
	.clear{
		clear: both;
	}
	.beianlogo{
		height: 16px;
	}
	.beian{
		margin: 0 5px;
		line-height: 20px;
	}
	.banquan{
		color: #aaa;
	}
</style>
