<template>
	<el-row class="back">
		<el-col :span="10">
			<div class="imgbox">
				<el-image :src="imgurl"></el-image>
			</div>
		</el-col>
		<el-col :span="14">
			<div class="textbox">
				<p>{{text}}</p>
			</div>
		</el-col>
	</el-row>
</template>

<script>
	export default {
		name: "LeftImg",
		props: {
			imgurl: String,
			text: String
		}
	}
</script>

<style>
	.back {
		background-color: rgb(238, 243, 237);
	}

	.imgbox {
		padding: 50px;
	}

	.textbox {
		padding: 50px;
	}
</style>
