<template>
	<el-row :gutter="20">
		<el-col :span="6">
			<div class="logo">
				<img src="../assets/sitelogo.png" class="logoimg" />
				<span class="logotext">正坛·新体教</span>
			</div>
		</el-col>
		<el-col :span="9">
			<div class="guide">
				<el-col :span="4" class="guideitem">中考特训</el-col>
				<el-col :span="4" class="guideitem">体育课堂</el-col>
				<el-col :span="4" class="guideitem">健康分析</el-col>
				<el-col :span="4" class="guideitem">课后作业</el-col>
				<el-col :span="4" class="guideitem">课程推荐</el-col>
			</div>
		</el-col>
		<el-col :span="4" class="search">
			<el-input placeholder="请输入内容" v-model="input" clearable class="searchinput"></el-input>
			<el-button type="info" icon="el-icon-search"></el-button>
		</el-col>
		<el-col :span="5">
			<div class="btn regbtn">注册</div>
			<div class="btn loginbtn">登录</div>
		</el-col>
	</el-row>
</template>

<script>
	export default {
		name: "NavBar",
		data(){
			return{
				input:""
			}
		}
	}
</script>

<style>
	.logo {
		display: flex;
		align-items: center;
		width: 250px;
	}

	.logoimg {
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}

	.logotext {
		font-size: 20px;
		font-weight: 550;
	}

	.guide {
		width: 600px;
		line-height: 50px;
	}

	.guideitem {
		cursor: pointer;
	}

	.search {
		line-height: 50px;
		display: flex;
		align-items: center;
	}

	.searchinput {
		margin-right: 5px;
	}
	.btn{
		line-height: 50px;
		width: 80px;
		color: #fff;
		cursor: pointer;
	}
	.regbtn{
		background-color: rgb(209,86,89);
		float: right;
	}
	.loginbtn{
		background-color: rgb(51,51,51);
		float: right;
	}
</style>
