<template>
	<div id="app">
		<div id="nav">
			<NavBar></NavBar>
		</div>
		<Banner></Banner>
		<RightImg imgurl="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" text="中考特训特色"></RightImg>
		<LeftImg imgurl="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" text="课程分析特色"></LeftImg>
		<RightImg imgurl="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" text="健康分析特色"></RightImg>
		<LeftImg imgurl="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" text="课后作业特色"></LeftImg>
		<RightImg imgurl="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" text="课程推荐"></RightImg>
		<LeftImg imgurl="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg" text="穿戴设备介绍"></LeftImg>
		<Footer></Footer>
	</div>
</template>
<script>
	import NavBar from '@/components/NavBar.vue';
	import Banner from '@/components/Banner.vue';
	import RightImg from '@/components/RightImg.vue';
	import LeftImg from '@/components/LeftImg.vue';
	import Footer from '@/components/Footer.vue';
	export default {
		components: {
			NavBar,
			Banner,
			RightImg,
			LeftImg,
			Footer
		}
	}
</script>
<style lang="scss">
	#app {
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
	}

	#nav {
		padding: 30px;

		a {
			font-weight: bold;
			color: #2c3e50;

			&.router-link-exact-active {
				color: #42b983;
			}
		}
	}
</style>
